<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:ApplicationContext.xml</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- JSF -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/springsecurity.taglib.xml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- Resource Mapping - resources will be served compressed and packed in 
		production -->
	<context-param>
		<param-name>org.richfaces.resourceMapping.enabled</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
		<param-value>6Lf9yMUSAAAAAJt-OHUHW2lfwcQFb-F9-k2Sq8hD</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
		<param-value>6Lf9yMUSAAAAANhYavmmHYYaw6asN5qt1_e1_Twu</param-value>
	</context-param>
	<!-- - -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>openSessionInViewFilter</filter-name>
		<url-pattern>/zubaleledobrejo</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- mudei este listener de posicao colocando-o em primeiro -->
	<listener>
		<listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
	</listener>


	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>FacesServlet</servlet-name>
		<servlet-class>org.apache.myfaces.webapp.MyFacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- 
	<servlet>
		<description>pagSeguroRetornoServlet</description>
		<display-name>pagSeguroRetornoServlet</display-name>
		<servlet-name>pagSeguroRetornoServlet</servlet-name>
		<servlet-class>br.com.dlp.jazzomr.anuncio.PagSeguroRetornoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Servlet para receber notificacoes do pagseguro</description>
		<display-name>notificacaoServlet</display-name>
		<servlet-name>notificacaoServlet</servlet-name>
		<servlet-class>br.com.dlp.jazzomr.notificacao.NotificacaoServlet</servlet-class>
	</servlet>
	 -->
	
	
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	
	<!-- 
	<servlet-mapping>
		<servlet-name>pagSeguroRetornoServlet</servlet-name>
		<url-pattern>/pagSeguroRetornoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>notificacaoServlet</servlet-name>
		<url-pattern>/notificacaoServlet</url-pattern>
	</servlet-mapping>
	
	 -->
	
	<session-config>
		<session-timeout>18</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
