<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
           
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	
	<!-- desabilitando para testar portlets 
	 -->
	<import resource="classpath:br/com/dlp/jazzqa/services/ApplicationContext_WebServices.xml"/>
	
	
	<!-- 
	<jaxws:endpoint id="tipoRequisito" implementor="#tipoRequisitoBusinessImpl" address="/tipoRequisito" />
	<jaxws:endpoint id="usuarioJazz" implementor="#usuarioJazzBusinessImpl" address="/usuarioJazz" />
	<jaxws:endpoint id="produto" implementor="#produtoBusinessImpl" address="/produto" />
	 -->

	<context:annotation-config />
	<context:component-scan base-package="br.com.dlp.jazzqa" />
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<bean id="jazzDS" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/jazzqa" />
		<property name="username" value="root" />
		<property name="password" value="CelularCinza" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="jazzDS" />
		<!-- 
		 -->
		<property name="annotatedClasses">
			<list>
				<value>br.com.dlp.jazzqa.produto.ProdutoVO</value>
				<value>br.com.dlp.jazzqa.usuariojazz.UsuarioJazzVO</value>
				<value>br.com.dlp.jazzqa.tiporequisito.TipoRequisitoVO</value>
				<value>br.com.dlp.jazzqa.tiporequisito.DummyVO</value>
				<value>br.com.dlp.jazzqa.status.StatusVO</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>

	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="nestedTransactionAllowed" value="true" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />

</beans>